<%- include('includes/head') %>

  <body>
    <aside>
      <div id="start">
        <div class="welcoming_container">
          <p>Herzlichen Willkommen bei Steinberg</p>
          <br>
          <br>
          <p>Möchten Sie unsere Webseite mit athmosphärischer Musik erkunden?</p>
        </div>
        <div id="question_container">
          <div class="question" id="audio-enable_btn">
            <a> Ja, sehr gerne.</a>
          </div>
          <div class="question" id="audio-disable_btn">
            <a> Nein, heute nicht.</a>
          </div>
        </div>
      </div>
    </aside>
    <!-- <header style="display: none;">
    <div id="header-container">
      <h1>Steinberg</h1>
      <p>solutions</p>
    </div>
    <div class="loader-wrapper" style="display: none">
      <div class="loader">
        <div class="sq">
          <div class="stone">
          </div>
        </div>
        <div class="line"></div>
        <div class="loading-container">
          <p class="loading">Loading</p>
          <p class="dot">...</p>
        </div>
      </div>
    </div>
  </header> -->
    <!-- Header -->


    <!-- Audio-Player -->
    <header style="display: none;">
      <div class="player">
        <div class="wrapper">
          <div class="buttons">
            <div class="playpause-track" onclick="playpauseTrack()">
              <i class="fa-solid fa-circle-play fa-xl"></i>
            </div>
          </div>
          <div class="details">
            <div class="track-name">
              <p>
                Danheim - Ulvekald
              </p>
            </div>
          </div>
          <div class="slider_container">
            <div class="volume_container">
              <i class="fa-solid fa-volume-high fa-2x1" id="volumeHighIcon"></i>
            </div>
            <input type="range" min="0" max="100" value="20" class="volume_slider" onchange="setVolume()">
          </div>
        </div>
      </div>
    </header>
    <main style="display: none;">
      <!-- Background animation -->
      <div id="mountain">
      </div>
      <div class="background-fill">
        <div id="headline_container">
          <h1 id="title">stein[berg]</h1>
          <h2 id="subtitle">solutions</h2>
        </div>
      </div>

      <!-- Content -->
      <ol id="main-content">
        <li id="introduction">
          <div class="introduction_container">
            <div id="drag">
              <div id="spin">
                <div data-id="0">
                  <i class="fa-solid fa-circle-nodes fa-4x"></i>
                  <p>Webentwicklung</p>
                </div>
                <div data-id="1">
                  <i class="fa-solid fa-signature fa-4x"></i>
                  <p>Web Design</p>
                </div>
                <div data-id="2">
                  <i class="fa-solid fa-photo-film fa-4x"></i>
                  <p>Konzeption</p>
                </div>
                <div data-id="3">
                  <i class="fa-solid fa-dice-d20 fa-4x"></i>
                  <p>3D Modellierung</p>
                </div>
                <div data-id="4">
                  <i class="fa-solid fa-ranking-star fa-4x"></i>
                  <p>Branding</p>
                </div>
                <div id="activate_card" data-id="5">
                  <h2>Steinberg's</h2>
                  <p>solutions</p>
                </div>
              </div>
              <!-- <div id="ground"></div> -->
            </div>
          </div>
        </li>


        <li class="list-item" data-id="0">
          <div class="list-item-element">
            <p>Webentwicklung</p>
          </div>
        </li>

        <li class="list-item" data-id="1">
          <div class="list-item-element">
            <p>Web Design</p>
          </div>
        </li>



        <li class="list-item" data-id="2">
          <div class="list-item-element">
            <p>Konzeption</p>
          </div>
        </li>

        <li class="list-item" id="threed_content" data-id="3">
          <div class="list-item-element">
            <p>3D Modellierung</p>
          </div>
        </li>

        <li class="list-item" data-id="4">
          <div class="list-item-element">
            <p>Branding</p>
          </div>
        </li>

      </ol>
    </main>
  </body>

  </html>