#start {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}
#start .welcoming_container {
  text-align: center;
  max-width: 700px;
  height: 100%;
}
#start .welcoming_container p {
  font-size: 2em;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
}
#start #question_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#start #question_container .question {
  width: 200px;
  height: 100px;
  margin: 0 5rem;
  margin-top: 4rem;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.2), 2px 2px 6px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  cursor: pointer;
  transition: 2s;
  background: rgba(255, 255, 255, 0.5);
}
#start #question_container .question:hover {
  background: transparent;
}
#start #question_container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

.background-clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.background-clouds .cloud {
  position: absolute;
  filter: brightness(0) saturate(100%) invert(23%) sepia(24%) saturate(827%) hue-rotate(137deg) brightness(98%) contrast(99%);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/95637/Smoke-Element.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}
.background-clouds .cloud:nth-child(1) {
  width: 2900px;
  height: 2900px;
  top: -600px;
  left: -600px;
  animation: moveCloud 25s linear infinite;
}
.background-clouds .cloud:nth-child(2) {
  width: 1500px;
  height: 1500px;
  top: -100px;
  left: -150px;
  animation: moveCloud 20s linear infinite;
}

@keyframes moveCloud {
  0% {
    /* transform: rotate(0deg); */
    transform: translateX(-1800px);
  }
  100% {
    /* transform: rotate(360deg); */
    transform: translateX(3000px);
  }
}
.loader-wrapper {
  position: absolute;
  top: 85%;
  left: 90%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-wrapper .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  letter-spacing: 0.2rem;
  transform: rotate(-35.5deg);
  animation: appear 0.5s linear forwards;
}
.loader-wrapper .loader .sq {
  animation: translateeffect 2s 1s linear infinite;
}
.loader-wrapper .loader .sq .stone {
  height: 50px;
  width: 50px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 55% 45% 60% 40%/50% 54% 46% 50%;
  animation: loader 2s linear infinite;
}
.loader-wrapper .loader .line {
  width: 150px;
  height: 0px;
  border-bottom: 5px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.loader-wrapper .loader .loading-container {
  width: 12rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
.loader-wrapper .loader .loading-container .loading {
  color: rgb(255, 255, 255);
  margin-top: 0.5rem;
  margin-left: 3rem;
  font-family: inherit;
}
.loader-wrapper .loader .loading-container .dot {
  width: 3ch;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 2s;
  color: rgb(255, 255, 255);
  animation: caret 1.5s step-end infinite alternate-reverse, type 1.5s steps(6, end);
  animation-iteration-count: 4, 40, infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  10% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-17.5deg);
  }
  40% {
    transform: rotate(-17.5deg);
  }
  55% {
    transform: rotate(15.5deg);
  }
  65% {
    transform: rotate(-15.5deg);
  }
  85% {
    transform: rotate(-25.5deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@keyframes caret {
  50% {
    box-shadow: 0.3em 0 0 transparent;
  }
}
@keyframes type {
  0% {
    width: 0ch;
  }
}
@keyframes translateeffect {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(32px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(45deg) translateX(-3px);
  }
  21% {
    transform: rotate(90deg);
  }
  23% {
    transform: rotate(82deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(135deg) translateX(5px);
  }
  45% {
    transform: rotate(180deg);
  }
  47% {
    transform: rotate(172deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(225deg) translateX(-5px);
  }
  71% {
    transform: rotate(270deg);
  }
  73% {
    transform: rotate(262deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(315deg) translateX(3px);
  }
  95% {
    transform: rotate(360deg);
  }
  97% {
    transform: rotate(352deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 5rem;
  z-index: 100;
  overflow: hidden;
}
header .player {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 600px;
  height: 100%;
  color: rgba(255, 255, 255, 0.3);
}
header .player .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .player .wrapper .slider_container {
  margin-right: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* non-standard; so just here for demo purpose. For actual site I would have to custom it all */
}
header .player .wrapper .slider_container .volume_container i {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .player .wrapper .slider_container .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  margin: 0 1rem;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
header .player .wrapper .slider_container .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
header .player .wrapper .buttons {
  margin-right: 1rem;
  margin-left: 2rem;
  cursor: pointer;
}
header .player .track-name {
  overflow: hidden;
}
header .player .track-name p {
  animation: movetrack 20s linear infinite;
}
header i {
  color: rgba(255, 255, 255, 0.3);
}

@keyframes movetrack {
  0% {
    transform: translateX(160px);
  }
  100% {
    transform: translateX(-160px);
  }
}
#introduction {
  display: none;
  position: absolute;
  top: 0;
  left: 30%;
  width: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation: appear 4s linear forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#introduction .introduction_container {
  perspective: 1000px;
  transform-style: preserve-3d;
  /* #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
    font-weight: 500;
    font-size: 3em;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.2);
  } */
}
#introduction .introduction_container #drag,
#introduction .introduction_container #spin {
  position: relative;
  display: flex;
  margin: auto;
  transform-style: preserve-3d;
}
#introduction .introduction_container #spin div {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px #fff;
  /* box-shadow: 2px 2px 15px #fffd; */
  border-radius: 20px;
  /* background: rgba(255, 255, 255, 0.5); */
  background: transparent;
  transition: background 1s ease-in-out, box-shadow 2s ease-in-out;
  backdrop-filter: blur(2px);
  cursor: pointer;
}
#introduction .introduction_container #spin div.active {
  /* box-shadow: 2px 2px 15px #fffd; */
  background: transparent;
  cursor: pointer;
  border: none;
  box-shadow: none;
  text-align: center;
}
#introduction .introduction_container #spin div.active i {
  color: rgb(1, 149, 149);
}
#introduction .introduction_container #spin div.active p {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.1em;
}
#introduction .introduction_container #spin div.active p.back {
  margin-top: -5rem;
}
#introduction .introduction_container #spin div#activate_card {
  background: rgb(255, 255, 255);
}
#introduction .introduction_container #spin div p {
  margin-top: 2rem;
  /* color: rgb(0, 0, 0); */
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
  pointer-events: none;
}
#introduction .introduction_container #spin div i {
  /* color: rgb(0, 0, 0); */
  color: rgb(1, 149, 149);
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  pointer-events: none;
}
#introduction .introduction_container #spin div:hover {
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.8666666667);
  background: transparent;
}
#introduction .introduction_container #spin div:hover i {
  color: rgb(1, 149, 149);
  transform: scale(1.2);
  pointer-events: none;
}
#introduction .introduction_container #spin div:hover p {
  color: rgba(255, 255, 255, 0.5);
  transform: scale(1);
  letter-spacing: 0.1em;
  pointer-events: none;
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes spinRevert {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popout {
  0% {
    transform: scale(1) rotateY(20deg) translateZ(0px);
    opacity: 1;
  }
  100% {
    transform: scale(4) rotateY(20deg) translateZ(0px);
    opacity: 0;
  }
}

#threed_content {
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#threed_content p {
  color: #fff;
  font-size: 8em;
}

.background-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background-fill #headline_container {
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  margin: 5% auto;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-fill #headline_container #title {
  color: white;
  font-weight: 100;
  font-size: 9rem;
  text-shadow: 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white;
  animation: goback 4s ease forwards;
  animation-delay: 3s;
}
.background-fill #headline_container #subtitle {
  color: white;
  font-weight: 100;
  font-size: 3rem;
  text-shadow: 0px 0px 1px white;
  animation: disappear 2s ease forwards;
  animation-delay: 3s;
}

@keyframes goback {
  0% {
    color: white;
    opacity: 1;
  }
  50% {
    text-shadow: none;
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateY(0) translateX(0) scale(1);
  }
  80% {
    transform: translateY(-160px) translateX(-40%) scale(0.7);
    color: rgba(255, 255, 255, 0.2);
    opacity: 0;
  }
  100% {
    color: rgba(255, 255, 255, 0.2);
    transform: translateY(-160px) translateX(-40%) scale(0.7);
    text-shadow: none;
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  /* font-family: "Lato", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: black;
}

main {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mountain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/mountain.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
  transform: rotateY(180deg);
  opacity: 0.3;
  z-index: -100;
}

#climb {
  position: fixed;
  top: 0;
  left: 5%;
  width: 377.4992126px;
  height: 100%;
  background-image: url(/images/climber/climber1.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
  opacity: 1;
  z-index: 100;
}

ol {
  margin: 0;
  padding: 0;
  height: 80%;
  margin-left: 20rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  list-style: none;
}
ol li {
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  padding: auto;
}
ol .list-item {
  display: none;
}
ol .list-item .list-item-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}
ol .list-item .list-item-element p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
