$primary-color-black: rgb(3, 3, 3);
$primary-color-white: rgb(255, 255, 255);

$primary-color-grey100: rgba(255, 255, 255, 0.5);
$primary-color-grey200: rgba(255, 255, 255, 0.3);
$primary-color-grey300: rgba(255, 255, 255, 0.2);

$primary-color-greenblue: rgb(1, 149, 149);
