$primary-color-grey100: rgb(186, 186, 186);
$primary-color-grey900: rgb(57, 57, 57);

$primary-color-blackbg: rgb(3, 3, 3);
$primary-color-white: rgb(255, 255, 255);

$primary-color-blue100: rgb(136, 213, 255);
$primary-color-blue900: rgb(1, 70, 108);