// npm install -D sass
$primary-color-grey100: rgb(186, 186, 186);
$primary-color-grey900: rgb(57, 57, 57);

$primary-color-white: rgb(255, 255, 255);

$primary-color-blue100: rgb(136, 213, 255);
$primary-color-blue900: rgb(1, 70, 108);

@import "includes/loading";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  color: rgb(0, 0, 0);
  z-index: 2;
  font-size: 5rem;
  margin-top: -10rem;
  margin-bottom: 12rem;
}
