@use "../abstracts/index" as a;

#introduction {
  display: none;
  position: absolute;
  top: 0;
  left: 30%;
  width: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation: appear 4s linear forwards;

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .introduction_container {
    perspective: 1000px;
    transform-style: preserve-3d;

    #drag,
    #spin {
      position: relative;
      display: flex;
      margin: auto;
      transform-style: preserve-3d;
    }

    #spin div {
      transform-style: preserve-3d;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 8px #fff;
      /* box-shadow: 2px 2px 15px #fffd; */
      border-radius: 20px;
      /* background: rgba(255, 255, 255, 0.5); */
      background: transparent;
      transition: background 1s ease-in-out, box-shadow 2s ease-in-out;
      backdrop-filter: blur(2px);
      cursor: pointer;

      &.active {
        /* box-shadow: 2px 2px 15px #fffd; */
        background: transparent;
        cursor: pointer;
        border: none;
        box-shadow: none;
        text-align: center;
        i {
          color: a.$primary-color-greenblue;
        }
        p {
          color: a.$primary-color-grey100;
          letter-spacing: 0.1em;
          &.back {
            margin-top: -5rem;
          }
        }
      }

      &#activate_card {
        background: a.$primary-color-white;
      }

      p {
        margin-top: 2rem;
        /* color: rgb(0, 0, 0); */
        color: a.$primary-color-grey100;
        transition: color 0.5s ease-in-out, transform 0.5s ease-in-out,
          letter-spacing 0.5s ease-in-out;
        pointer-events: none;
      }
      i {
        /* color: rgb(0, 0, 0); */
        color: a.$primary-color-greenblue;
        transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
        pointer-events: none;
      }

      &:hover {
        box-shadow: 2px 2px 15px #fffd;
        background: transparent;
      }
      &:hover i {
        color: a.$primary-color-greenblue;
        transform: scale(1.2);
        pointer-events: none;
      }
      &:hover p {
        color: a.$primary-color-grey100;
        transform: scale(1);
        letter-spacing: 0.1em;
        pointer-events: none;
      }
    }

    /* #ground {
      width: 900px;
      height: 900px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotateX(90deg);
      font-weight: 500;
      font-size: 3em;
      font-family: inherit;
      color: rgba(255, 255, 255, 0.2);
    } */

    @keyframes spin {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
    }
    @keyframes spinRevert {
      from {
        transform: rotateY(360deg);
      }
      to {
        transform: rotateY(0deg);
      }
    }

    @keyframes disappear {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes popout {
      0% {
        transform: scale(1) rotateY(20deg) translateZ(0px);
        opacity: 1;
      }
      100% {
        transform: scale(4) rotateY(20deg) translateZ(0px);
        opacity: 0;
      }
    }
  }
}

#threed_content {
  display: none;
  justify-content: center;
  align-items: center;
  color: a.$primary-color-white;

  p {
    color: a.$primary-color-white;
    font-size: 8em;
  }
}
