@use "../abstracts/index" as a;

/* funny loading animation. Not in use atm */

.loader-wrapper {
  position: absolute;
  top: 85%;
  left: 90%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    letter-spacing: 0.2rem;
    transform: rotate(-35.5deg);
    animation: appear 0.5s linear forwards;

    .sq {
      animation: translateeffect 2s 1s linear infinite;

      .stone {
        height: 50px;
        width: 50px;
        border: 5px solid a.$primary-color-white;
        border-radius: 55% 45% 60% 40% / 50% 54% 46% 50%;
        animation: loader 2s linear infinite;
      }
    }
    .line {
      width: 150px;
      height: 0px;
      border-bottom: 5px solid a.$primary-color-white;
      border-radius: 5px;
    }
    .loading-container {
      width: 12rem;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      padding: 0;
      margin: 0;

      .loading {
        color: a.$primary-color-white;
        margin-top: 0.5rem;
        margin-left: 3rem;
        font-family: inherit;
      }
      .dot {
        width: 3ch;
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 2s;
        color: a.$primary-color-white;
        animation: caret 1.5s step-end infinite alternate-reverse,
          type 1.5s steps(6, end);
        animation-iteration-count: 4, 40, infinite;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
  }

  10% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-17.5deg);
  }
  40% {
    transform: rotate(-17.5deg);
  }

  55% {
    transform: rotate(15.5deg);
  }

  65% {
    transform: rotate(-15.5deg);
  }

  85% {
    transform: rotate(-25.5deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}

@keyframes caret {
  50% {
    box-shadow: 0.3em 0 0 transparent;
  }
}
@keyframes type {
  0% {
    width: 0ch;
  }
}

@keyframes translateeffect {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(32px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(45deg) translateX(-3px);
  }
  21% {
    transform: rotate(90deg);
  }
  23% {
    transform: rotate(82deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(135deg) translateX(5px);
  }
  45% {
    transform: rotate(180deg);
  }
  47% {
    transform: rotate(172deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(225deg) translateX(-5px);
  }
  71% {
    transform: rotate(270deg);
  }
  73% {
    transform: rotate(262deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(315deg) translateX(3px);
  }
  95% {
    transform: rotate(360deg);
  }
  97% {
    transform: rotate(352deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
