@use "../abstracts/index" as a;

#start {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;

  .welcoming_container {
    text-align: center;
    max-width: 700px;

    p {
      font-size: 2em;
      color: a.$primary-color-white;
      flex-wrap: wrap;
    }
  }

  #question_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .question {
      width: 200px;
      height: 100px;
      margin: 0 5rem;
      margin-top: 4rem;
      box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.2),
        2px 2px 6px rgba(0, 0, 0, 0.8);
      border-radius: 25px;
      cursor: pointer;
      transition: 2s;
      background: rgba(255, 255, 255, 0.5);

      &:hover {
        background: transparent;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: a.$primary-color-white;
      width: 100%;
      height: 100%;
    }
  }
}
