.button {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  color: rgb(0, 0, 0);
  z-index: 2;
  font-size: 5rem;
  margin-top: -10rem;
  margin-bottom: 12rem;
}

.loader-wrapper {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 40%;
  height: 15rem;
  width: 15rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  letter-spacing: 0.2rem;
  animation: appear 2s linear forwards, rotate 2s 1s linear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-17.5deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
.loading-container {
  width: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.loading {
  color: black;
  margin-top: 0.5rem;
  margin-left: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dot {
  width: 3ch;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 2s;
  color: black;
  animation: caret 1.5s step-end infinite alternate-reverse, type 1.5s steps(6, end);
  animation-iteration-count: 4, 40, infinite;
}

@keyframes caret {
  50% {
    box-shadow: 0.3em 0 0 transparent;
  }
}
@keyframes type {
  0% {
    width: 0ch;
  }
}
.sq {
  animation: translateeffect 2s 1s linear infinite;
}

@keyframes translateeffect {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(32px);
  }
  100% {
    transform: translateX(0px);
  }
}
.box {
  height: 50px;
  width: 50px;
  border: 5px solid black;
  border-radius: 55% 45% 60% 40%/50% 54% 46% 50%;
  animation: loader 2s 1s linear infinite;
}

/* @keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg) translateX(-8px);
  }
  42% {
    transform: rotate(90deg);
  }
  45% {
    transform: rotate(82deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
} */
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(45deg) translateX(-3px);
  }
  21% {
    transform: rotate(90deg);
  }
  23% {
    transform: rotate(82deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(135deg) translateX(5px);
  }
  45% {
    transform: rotate(180deg);
  }
  47% {
    transform: rotate(172deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(225deg) translateX(-5px);
  }
  71% {
    transform: rotate(270deg);
  }
  73% {
    transform: rotate(262deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(315deg) translateX(3px);
  }
  95% {
    transform: rotate(360deg);
  }
  97% {
    transform: rotate(352deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.line {
  width: 200px;
  height: 0px;
  border-bottom: 5px solid black;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
