main {
  display: none;
  width: 100%;
  height: 5000px;
  background: $primary-color-blackbg;

  .space {
    position: absolute;
    top: 1700px;
    left: 0;
    width: 100%;
    height: 1150px;
    background: $primary-color-white;
    clip-path: polygon(0 55%, 0% 100%, 100% 100%);
    margin-top: -1150px;
  }
  .space:nth-child(2) {
    top: 2550px;
    transform: rotate(180deg);
  }
  .space:nth-child(3) {
    width: 500px;
    height: 500px;
    top: 3400px;
    left: 100px;
    clip-path: circle(50% at 50% 50%);
  }
  .space:nth-child(4) {
    width: 170px;
    height: 170px;
    top: 3500px;
    left: 700px;
    clip-path: circle(50% at 50% 50%);
  }
  .space:nth-child(5) {
    width: 150px;
    height: 150px;
    top: 3710px;
    left: 680px;
    clip-path: circle(50% at 50% 50%);
  }
  .space:nth-child(6) {
    width: 100px;
    height: 100px;
    top: 3900px;
    left: 630px;
    clip-path: circle(50% at 50% 50%);
  }
  .space:nth-child(7) {
    width: 600px;
    height: 600px;
    top: 3600px;
    left: 1000px;
    clip-path: circle(50% at 50% 50%);
  }
  .space:nth-child(8) {
    width: 2300px;
    height: 800px;
    top: 4650px;
    left: 0px;
    clip-path: polygon(0 20%, 100% 60%, 100% 100%, 0 60%);
  }
  .space:nth-child(9) {
    width: 2300px;
    height: 1100px;
    top: 5450px;
    left: 0px;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  }
  .space:nth-child(10) {
    width: 1300px;
    height: 1000px;
    top: 6350px;
    left: 250px;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  }

  .background-clouds {
    position: relative;
    top: -1500px;
    left: 0;
    width: 100%;
    height: 6500px;
    overflow: hidden;

    .cloud {
      position: absolute;
      filter: brightness(0) saturate(100%) invert(23%) sepia(24%) saturate(827%)
        hue-rotate(137deg) brightness(98%) contrast(99%);
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/95637/Smoke-Element.png");
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: contain;
    }
    .cloud:nth-child(1) {
      width: 2900px;
      height: 2900px;
      top: -600px;
      left: -600px;
      animation: moveCloud 25s linear infinite;
    }
    .cloud:nth-child(2) {
      width: 1500px;
      height: 1500px;
      top: -100px;
      left: -150px;
      animation: moveCloud 15s linear infinite;
    }
    .cloud:nth-child(3) {
      width: 1800px;
      height: 1800px;
      top: -200px;
      left: -150px;
      animation: moveCloud 80s linear infinite;
    }
    .cloud:nth-child(4) {
      width: 2000px;
      height: 2000px;
      top: -100px;
      left: -500px;
      animation: moveCloud 95s linear infinite;
    }
    .cloud:nth-child(5) {
      width: 1300px;
      height: 1300px;
      top: 150px;
      left: 200px;
      animation: moveCloud 70s linear infinite;
    }
    .cloud:nth-child(6) {
      width: 1100px;
      height: 1100px;
      top: 250px;
      left: 1000px;
      animation: moveCloud 35s linear infinite;
    }
    .cloud:nth-child(7) {
      width: 800px;
      height: 800px;
      top: 100px;
      left: 100px;
      animation: moveCloud 50s linear infinite;
    }
    .cloud:nth-child(8) {
      width: 2000px;
      height: 2000px;
      top: 100px;
      left: 100px;
      animation: moveCloud 50s linear infinite;
    }
    .cloud:nth-child(9) {
      width: 2900px;
      height: 2900px;
      top: 3000px;
      left: -600px;
      animation: moveCloud 25s linear infinite;
    }
    .cloud:nth-child(10) {
      width: 1500px;
      height: 1500px;
      top: 2000px;
      left: -150px;
      animation: moveCloud 15s linear infinite;
    }
    .cloud:nth-child(11) {
      width: 1800px;
      height: 1800px;
      top: 2500px;
      left: -150px;
      animation: moveCloud 80s linear infinite;
    }
    .cloud:nth-child(12) {
      width: 2000px;
      height: 2000px;
      top: 3500px;
      left: -500px;
      animation: moveCloud 95s linear infinite;
    }
    .cloud:nth-child(13) {
      width: 1300px;
      height: 1300px;
      top: 2000px;
      left: 200px;
      animation: moveCloud 70s linear infinite;
    }
    .cloud:nth-child(14) {
      width: 1100px;
      height: 1100px;
      top: 2500px;
      left: 1000px;
      animation: moveCloud 35s linear infinite;
    }
    .cloud:nth-child(15) {
      width: 800px;
      height: 800px;
      top: 4000px;
      left: 100px;
      animation: moveCloud 20s linear infinite;
    }
    .cloud:nth-child(16) {
      width: 2000px;
      height: 2000px;
      top: 4000px;
      left: 100px;
      animation: moveCloud 45s linear infinite;
    }
    .cloud:nth-child(17) {
      width: 1300px;
      height: 1300px;
      top: 1800px;
      left: 200px;
      animation: moveCloud 80s linear infinite;
    }
    .cloud:nth-child(18) {
      width: 1100px;
      height: 1100px;
      top: 5500px;
      left: 1000px;
      animation: moveCloud 55s linear infinite;
    }
    .cloud:nth-child(19) {
      width: 800px;
      height: 800px;
      top: 1700px;
      left: 100px;
      animation: moveCloud 30s linear infinite;
    }
    .cloud:nth-child(20) {
      width: 2000px;
      height: 2000px;
      top: 5500px;
      left: 100px;
      animation: moveCloud 40s linear infinite;
    }
  }
}

@keyframes moveCloud {
  0% {
    /* transform: rotate(0deg); */
    transform: translateX(-1800px);
  }
  100% {
    /* transform: rotate(360deg); */
    transform: translateX(2500px);
  }
}
