header {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  background: rgb(3, 3, 3);
  width: 100%;
  max-width: 2100px;
  height: 1500px;

  .background-fill {
    width: 100%;

    #headline_container {
      position: relative;
      top: 150px;
      left: 38%;
      width: 500px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #title {
        color: white;
        font-weight: 100;
        font-size: 9rem;
        text-shadow: 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white,
          0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white,
          0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white,
          0px 0px 1px white, 0px 0px 1px white;
      }
      #subtitle {
        color: white;
        font-weight: 100;
        font-size: 3rem;
        text-shadow: 0px 0px 1px white;
      }
    }
  }
}

.player {
  display: none;
  position: fixed;
  top: 30px;
  right: -200px;
  width: 50%;
  height: 100px;
  z-index: 100;
  color: rgba(255, 255, 255, 0.3);

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .slider_container {
      margin-right: 2rem;
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .volume_container {
        i {
          width: 20px;
          height: 20px;
        }
      }

      .volume_slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 2px;
        margin: 0 1rem;
        background: rgba(255, 255, 255, 0.3);
      }
      .volume_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background: grey;
        border: 2px solid black;
        border-radius: 50%;
      }
    }
    .buttons {
      margin-right: 1rem;
      margin-left: 2rem;
      cursor: pointer;
    }
  }

  .track-name {
    overflow: hidden;

    p {
      animation: movetrack 20s linear infinite;
    }
  }
}

i {
  color: rgba(255, 255, 255, 0.3);
}

@keyframes movetrack {
  0% {
    transform: translateX(160px);
  }
  100% {
    transform: translateX(-160px);
  }
}
