.loader-wrapper {
  position: absolute;
  top: 80%;
  left: 90%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    letter-spacing: 0.2rem;
    animation: appear 1s linear forwards, rotate 8s 1s linear forwards;

    .sq {
      animation: translateeffect 2s 1s linear infinite;

      .stone {
        height: 70px;
        width: 70px;
        border: 5px solid $primary-color-blackbg;
        border-radius: 55% 45% 60% 40% / 50% 54% 46% 50%;
        animation: loader 2s 1s linear infinite;
      }
    }
    .line {
      width: 200px;
      height: 0px;
      border-bottom: 5px solid $primary-color-blackbg;
      border-radius: 5px;
    }
    &::after {
      content: "";
      position: relative;
      top: -38px;
      left: 97px;
      width: 8px;
      height: 8px;
      background: $primary-color-blackbg;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

      box-shadow: inset 4px -4px 4px black;
      animation: move 2s linear infinite;
      animation-delay: 1.7s;
    }
    .loading-container {
      width: 15rem;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      padding: 0;
      margin: 0;

      .loading {
        color: $primary-color-blackbg;
        margin-top: 0.5rem;
        margin-left: 5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .dot {
        width: 3ch;
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 2s;
        color: $primary-color-blackbg;
        animation: caret 1.5s step-end infinite alternate-reverse,
          type 1.5s steps(6, end);
        animation-iteration-count: 4, 40, infinite;
      }
    }
  }
}

@keyframes move {
  0% {
    left: 100px;
  }
  100% {
    left: -100px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
  }

  10% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-17.5deg);
  }
  40% {
    transform: rotate(-17.5deg);
  }

  55% {
    transform: rotate(15.5deg);
  }

  65% {
    transform: rotate(-15.5deg);
  }

  85% {
    transform: rotate(-25.5deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}

@keyframes caret {
  50% {
    box-shadow: 0.3em 0 0 transparent;
  }
}
@keyframes type {
  0% {
    width: 0ch;
  }
}

@keyframes translateeffect {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(32px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* @keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg) translateX(-8px);
  }
  42% {
    transform: rotate(90deg);
  }
  45% {
    transform: rotate(82deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
} */
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(45deg) translateX(-3px);
  }
  21% {
    transform: rotate(90deg);
  }
  23% {
    transform: rotate(82deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(135deg) translateX(5px);
  }
  45% {
    transform: rotate(180deg);
  }
  47% {
    transform: rotate(172deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(225deg) translateX(-5px);
  }
  71% {
    transform: rotate(270deg);
  }
  73% {
    transform: rotate(262deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(315deg) translateX(3px);
  }
  95% {
    transform: rotate(360deg);
  }
  97% {
    transform: rotate(352deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
